<footer class="dark:bg-[#13151a]">
  <div class="w-auto max-w-screen-xl mx-auto p-4 md:py-8">
    <div class="sm:flex sm:items-center sm:justify-evenly">
      <div>
        <a
            href="#inicio"
            class="flex grayscale items-baseline sm:mb-0 space-x-1 rtl:space-x-reverse transition-all
            hover:grayscale-0">
            <img src="./logo-home.svg" class="h-7" alt="DecoWood logo" />
            <h3
          class="self-center text-xl md:text-2xl font-semibold whitespace-nowrap dark:text-[#999999]">
          DecoWood
            </h3>
        </a>
        <p class="text-sm md:text-base mt-1 text-[#999999]">Equipamiento integral</p>
      </div>
      <ul
        class="flex flex-wrap gap-x-3 items-center my-4 text-sm font-medium text-gray-500 sm:mb-0 dark:text-gray-400">
        <li>
          <a
            class="hover:bg-black/75 rounded-lg flex items-center justify-center w-8 h-8 transition-all"
            href="#"
            rel="noopener noreferrer">
            <i
              class="p-2 text-xl transition text-slate-300 fa-brands fa-instagram"
            ></i>
          </a>
        </li>
        <li>
          <a
            class="hover:bg-black/75 rounded-lg flex items-center justify-center w-8 h-8 transition-all"
            href="#">
            <i
              class="text-lg p-2 transition text-slate-300 fa-regular fa-paper-plane"
            ></i>
          </a>
        </li>
        <li>
          <a
            href="#"
            class="hover:bg-black/75 rounded-lg flex items-center justify-center w-8 h-8 transition-all">
            <i
              class="hover:rotate-12 p-2 text-lg transition text-slate-300 fa-solid fa-phone-volume"
            ></i>
          </a>
        </li>
      </ul>
    </div>
    <hr class="my-2 border-[#999999] sm:mx-auto dark:border-gray-700 lg:my-5 w-[60%]" />
    <p class="block text-base text-[#999999] sm:text-center dark:text-gray-400">
      ©2023 DecoWood | <a
        href="https://alexisferradans.com/"
        class="hover:underline transition"
        target="_blank"
        rel="noopener noreferrer">Creditos</a
      >.
    </p>
  </div>
</footer>
