
<!-- Slider main container -->
<div id="inicio" class="swiper h-[60vh] w-full 
md:h-[100vh]">
  <!-- Additional required wrapper -->
  <div class="swiper-wrapper">
    <!-- Slides -->
    <!-- IMAGEN 1-->
    <div class="swiper-slide flex justify-center">
      <img
        loading="lazy"
        class="h-full w-full object-cover brightness-50"
        src="./home-img-3.webp"
        alt="imagen de fondo"
      />
      <!-- CONTENIDO DENTRO DE LA IMAGEN -->
      <!-- Texto y Logo -->
      <section>
        <div
          class="mostrar-hero absolute flex flex-col md:flex-row items-center md:items-end gap-x-2 md:left-[10%] sm:left-[35%] left-[30%] top-[38%]"
        >
          <img class="size-16 md:size-32 brightness-75" src="./logo-home.svg" alt="imagen de logo"/>

          <div class="flex flex-col md:gap-y-2 gap-y-0">
            <h2 
              class="text-2xl md:text-7xl md:text-left text-center tracking-wide font-dm font-semibold text-white">Deco<span
               class="font-light text-[#b47844]">Wood</span>
            </h2>
            <p class="text-base text-center md:text-left md:text-3xl font-dm text-white font-extralight">
              Equipamiento integral
            </p>
          </div>
        </div>

        <div class="mostrar-hero absolute md:left-[10%] left-[14%] top-[70%] md:top-[62%] md:w-[50%] w-[70%] ">
          <p
            class="text-base md:text-2xl text-center md:text-left font-dm text-slate-300 font-extralight text-pretty leading-6 md:leading-9"
          >
            Con <span class="font-semibold text-[#b47844]">+20 años</span> en el rubro de la
            carpintería y el diseño interior.
          </p>
          <p
            class="hidden md:block text-base md:text-2xl text-center md:text-left font-dm text-slate-300 font-extralight text-pretty leading-6 md:leading-9 mt-3"
          >
            Integrado por expertos profesionales, quienes trabajan en
            colaboración con cada cliente.
          </p>
          
        </div>
      </section>

      <!-- Social -->
      <div
        class="mostrar-social absolute top-[27%] right-[8%] hidden md:flex flex-col items-center gap-y-12"
      >
        <span class="mb-6 block h-[1.5px] w-28 bg-slate-300 rotate-90"></span>

        <!--Instagram-->
        <a
          class="hover:bg-black/75 rounded-lg flex items-center justify-center w-8 h-8 transition-all"
          href="#"
          rel="noopener noreferrer"
        >
          <i
            class="p-2 text-xl md:text-2xl transition text-slate-300 fa-brands fa-instagram"
          ></i>
        </a>
        <!--Mensaje-->
        <a
          class="hover:bg-black/75 rounded-lg flex items-center justify-center w-8 h-8 transition-all"
          href="#"
        >
          <i
            class=" text-lg md:text-xl p-2 transition text-slate-300 fa-regular fa-paper-plane"
          ></i>
        </a>
        <!--Llamar-->
        <a
          href="#"
          class="hover:bg-black/75 rounded-lg flex items-center justify-center w-8 h-8 transition-all"
        >
          <i
            class="hover:rotate-12 p-2 text-lg md:text-xl transition text-slate-300 fa-solid fa-phone-volume"
          ></i>
        </a>

        <span class="mt-6 block h-[1.5px] w-28 bg-slate-300 rotate-90"></span>
      </div>
    </div>

    <!-- IMAGEN 2-->
    <div class="swiper-slide flex justify-center bg-black/50">
      <img
        loading="lazy"
        class="h-full w-full object-cover brightness-50 "
        src="./home-img-2.webp"
        alt="imagen de fondo 2"
      />

      <div class="mostrar-social flex flex-col items-center gap-y-8 justify-center absolute top-[38%] w-[75%]">
        <h3
          class="text-xl md:text-5xl text-white font-dm font-bold text-pretty text-center leading-normal">
          Brindando nuestros <span style="-webkit-text-stroke: 1px #efefef" class="font-poppins font-medium text-transparent">Servicios</span> y <span style="-webkit-text-stroke: 1px #efefef" class="font-poppins font-medium text-transparent">Productos</span> tanto en proyectos empresariales como en hogares.
        </h3>
        <a
          class="relative group overflow-hidden px-3 md:px-6 h-8 md:h-12 border  border-gray-200 hover:border-gray-400 hover:bg-black/10"
          href="#productos">
          <div aria-hidden="true" class="transition duration-300 group-hover:-translate-y-7 md:group-hover:-translate-y-12">
            <div class="h-7 md:h-12 flex items-center justify-center">
              <span class="text-white text-sm md:text-lg">Productos</span>
            </div>
            <div class="h-7 md:h-12 flex items-center justify-center">
              <span class="text-white text-sm md:text-lg">Proyectos</span>
            </div>
        </div>
        </a>
      </div>
    </div>

    <!-- IMAGEN 3-->
    <div class="swiper-slide flex justify-center">
      <img
        loading="lazy"
        class="h-full w-full object-cover brightness-50"
        src="./home-img.webp"
        alt="imagen de fondo 3"
      />

      <div class="mostrar-hero flex justify-center absolute top-[38%] w-[70%]">
        <h3
          class="text-[#efefef] text-xl md:text-5xl font-dm font-bold text-pretty leading-snug text-center">
          Creamos
          <span
            class="font-poppins font-medium text-transparent"
            style="-webkit-text-stroke: 1px #efefef">ambientes únicos</span> para tus ideas <br />
          Con diseños
          <span
            class="font-poppins font-medium text-transparent"
            style="-webkit-text-stroke: 1px #efefef">que hacen la diferencia</span>
        </h3>
      </div>
    </div>
  </div>
  <!-- pagination -->
  <div class="swiper-pagination"></div>

  <!-- navigation buttons -->
  <div class="swiper-button-prev hover:text-[#d6d6d6] text-white mx-3 md:mx-6"></div>
  <div class="swiper-button-next hover:text-[#d6d6d6] text-white mx-3 md:mx-6"></div>

</div>

<!--ESTILOS ANIMACION-->
<style>
  .mostrar-hero {
    animation: fade-left 0.7s ease-in-out;
    transition: all 0.5s;
  }

  @keyframes fade-left {
    from {
      opacity: 0;
      transform: translateX(-20rem) scale(0.5);
    }

    to {
      opacity: 1;
      transform: translateX(0rem) scale(1);
    }
  }

  .mostrar-social {
    animation: fade-in 0.8s ease-in-out;
    transition: all 0.5s;
  }

  @keyframes fade-in {
    from {
      opacity: 0;
      transform: scale(0.5);
    }

    to {
      opacity: 1;
      transform: scale(1);
    }
  }
</style>

<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>

<script>
  const swiper = new Swiper(".swiper", {
    // Optional parameters
    direction: "horizontal",
    loop: true,
    grabCursor: true,
    effect: "fade",
    effect: "creative",
    creativeEffect: {
      prev: {
        shadow: true,
        translate: ["-20%", 0, -1],
      },
      next: {
        translate: ["100%", 0, 0],
      },
    },/*
    autoplay: {
      delay: 5000,
      disableOnInteraction: false,
    },*/
    // If we need pagination
    pagination: {
      el: ".swiper-pagination",
      clickable: true,
      dynamicBullets: true,
    },

    // Navigation arrows
    navigation: {
      nextEl: ".swiper-button-next",
      prevEl: ".swiper-button-prev",
    },

    // And if we need scrollbar
    scrollbar: {
      el: ".swiper-scrollbar",
    },
  });
</script>

<style>
  .swiper-button-prev,
  .swiper-button-next {
    display: flex;
    justify-content: center;
    align-items: center;
    --swiper-navigation-size: 30px;
    padding: 1.5%;
    border-radius: 1000px;
    transition: all 0.3s ease-in-out;
  

    opacity: 0;
  }



  .swiper:hover .swiper-button-prev,
  .swiper:hover .swiper-button-next {
    opacity: 1;
  }

  /*bullet*/
  .swiper-pagination-bullet {
    --swiper-theme-color: #fff;
  }
</style>

