<main id="productos" class="bg-[#000000] py-8 ">

  <div class="flex justify-center items-center flex-col">
        <h3
        id="titulo-productos"
        style="-webkit-text-stroke: 1px #ffffff"
        class="text-3xl py-2 md:text-5xl tracking-wider text-transparent font-dm font-semibold">
        Productos</h3>
        <h3
        id="titulo-proyectos"
        class=" text-white pt-2 pb-10 tracking-wider text-3xl md:text-5xl font-dm font-semibold">
        Proyectos
        </h3>
  </div>

  <swiper-container
    style="
      --swiper-navigation-color: #000000;
      --swiper-pagination-color: #fff;
      user-select: none;
    "
    class="mySwiper h-[20rem] w-[85%] md:h-[25rem] md:w-[70%]"
    thumbs-swiper=".mySwiper2"
    loop="true"
    space-between="10"
    navigation="true">
    <swiper-slide>
      <img
        loading="lazy"
        class="transition-all duration-200 brightness-50"
        src="./producto3.webp"
        alt="producto3"/>

      <div
        id="texto"
        class="absolute bottom-0 flex flex-col justify-center items-center gap-y-3 w-[100%] h-[40%] px-10 py-3 bg-[#00000083]
        md:gap-y-5 md:w-[60%] md:rounded-lg md:px-10 md:py-5 md:bottom-6">
        <h4 class="text-xl md:text-4xl font-semibold font-poppins text-white">
          Bajo mesadas
        </h4>

        <p class="font-dm text-white text-pretty text-sm md:text-lg">
          Proporciona espacio útil en la cocina mientras a su vez ofrece un
          diseño minimalista.
        </p>
      </div>
    </swiper-slide>
    <swiper-slide>
      <img
        class="transition-all duration-200 brightness-50"
        loading="lazy"
        src="./producto.webp"
        alt="producto1"
      />

      <div
        id="texto"
        class="absolute bottom-0 flex flex-col justify-center items-center gap-y-3 w-[100%] h-[40%] px-10 py-3 bg-[#00000083]
        md:gap-y-5 md:w-[60%] md:rounded-lg md:px-10 md:py-5 md:bottom-6"
      >
        <h4 class="text-xl md:text-4xl font-semibold font-poppins text-white">
          Aereos para la cocina
        </h4>

        <p class="font-dm text-white text-pretty text-sm md:text-lg">
          Ofreciondo un espacio cómodo y útil para cualquier función dentro de
          la cocina.
        </p>
      </div>
    </swiper-slide>
    <swiper-slide>
      <img
        loading="lazy"
        class="transition-all duration-200 brightness-50"
        src="./producto2.webp"
        alt="producto2"
      />

      <div
        id="texto"
        class="absolute bottom-0 flex flex-col justify-center items-center gap-y-3 w-[100%] h-[40%] px-10 py-3 bg-[#00000083]
        md:gap-y-5 md:w-[60%] md:rounded-lg md:px-10 md:py-5 md:bottom-6"
      >
        <h4 class="text-xl md:text-4xl font-semibold font-poppins text-white">
          Escritorios
        </h4>

        <p class="font-dm text-white text-pretty text-sm md:text-lg">
          Combina estilo contemporáneo y funcionalidad para crear el entorno de
          trabajo perfecto en tu hogar u oficina.
        </p>
      </div>
    </swiper-slide>
    
    <swiper-slide>
      <img
        loading="lazy"
        class="transition-all duration-200 brightness-50"
        src="./producto4.webp"
        alt="producto4"
      />

      <div
        id="texto"
        class="absolute bottom-0 flex flex-col justify-center items-center gap-y-3 w-[100%] h-[40%] px-10 py-3 bg-[#00000083]
        md:gap-y-5 md:w-[60%] md:rounded-lg md:px-10 md:py-5 md:bottom-6"
      >
        <h4 class="text-xl md:text-4xl font-semibold font-poppins text-white">
          Muebles a medida
        </h4>

        <p class="font-dm text-white text-pretty text-sm md:text-lg">
          Personalizamos el diseño y fabricación de tu mueble a medida para
          adaptarlo a lugares específicos.
        </p>
      </div>
    </swiper-slide>

    <swiper-slide>
      <img
        loading="lazy"
        class="transition-all duration-200 brightness-50"
        src="./producto8.webp"
        alt="producto6"
      />

      <div
        id="texto"
        class="absolute bottom-0 flex flex-col justify-center items-center gap-y-3 w-[100%] h-[40%] px-10 py-3 bg-[#00000083]
        md:gap-y-5 md:w-[60%] md:rounded-lg md:px-10 md:py-5 md:bottom-6"
      >
        <h4 class="text-xl md:text-4xl font-semibold font-poppins text-white">
          Muebles de baño
        </h4>

        <p class="font-dm text-white text-pretty text-sm md:text-lg">
          Perfecto para mantener organizados los artículos de tocador y mantener
          el orden dentro del baño.
        </p>
      </div>
    </swiper-slide>
    <swiper-slide>
      <img
        loading="lazy"
        class="transition-all duration-200 brightness-50"
        src="./producto7.webp"
        alt="producto7"
      />

      <div
        id="texto"
        class="absolute bottom-0 flex flex-col justify-center items-center gap-y-3 w-[100%] h-[40%] px-10 py-3 bg-[#00000083]
        md:gap-y-5 md:w-[60%] md:rounded-lg md:px-10 md:py-5 md:bottom-6"
      >
        <h4 class="text-xl md:text-4xl font-semibold font-poppins text-white">
          Sobre lavabo
        </h4>

        <p class="font-dm text-white text-pretty text-sm md:text-lg">
          Cómoda para tus rutinas diarias de cuidado personal.
        </p>
      </div>
    </swiper-slide>
    <swiper-slide>
      <img
        loading="lazy"
        class="transition-all duration-200 brightness-50"
        src="./producto11.webp"
        alt="producto11"
      />

      <div
        id="texto"
        class="absolute bottom-0 flex flex-col justify-center items-center gap-y-3 w-[100%] h-[40%] px-10 py-3 bg-[#00000083]
        md:gap-y-5 md:w-[60%] md:rounded-lg md:px-10 md:py-5 md:bottom-6"
      >
        <h4 class="text-xl md:text-4xl font-semibold font-poppins text-white">Sillas</h4>

        <p class="font-dm text-white text-pretty text-sm md:text-lg">
          Todo tipo de sillas con diseños ergonómicos que permiten trabajar de
          forma cómoda y productiva durante todo el día.
        </p>
      </div>
    </swiper-slide>
    <swiper-slide>
      <img
        loading="lazy"
        class="transition-all duration-200 brightness-50"
        src="./producto12.webp"
        alt="producto12"
      />

      <div
        id="texto"
        class="absolute bottom-0 flex flex-col justify-center items-center gap-y-3 w-[100%] h-[40%] px-10 py-3 bg-[#00000083]
        md:gap-y-5 md:w-[70%] md:rounded-lg md:px-10 md:py-5 md:bottom-6"
      >
        <h4 class="text-xl md:text-4xl font-semibold font-poppins text-white">
          Muebles para living
        </h4>

        <p class="font-dm text-white text-pretty text-sm md:text-lg">
          Agrega estilo y armonía a tu comedor, ideal para guardar elementos
          decorativos mientras mantiene tu hogar organizado y elegante.
        </p>
      </div>
    </swiper-slide>
  </swiper-container>

  <swiper-container
    class="mySwiper2 h-[8rem] w-[85%] md:h-[12rem] md:w-[70%]"
    loop="true"
    space-between="10"
    slides-per-view="4"
    free-mode="true"
    watch-slides-progress="true"
  >
    <swiper-slide>
      <img loading="lazy" src="./producto.webp" alt="producto1"/>
    </swiper-slide>
    <swiper-slide>
      <img loading="lazy" src="./producto2.webp" alt="producto2"/>
    </swiper-slide>
    <swiper-slide>
      <img loading="lazy" src="./producto3.webp" alt="producto3"/>
    </swiper-slide>
    <swiper-slide>
      <img loading="lazy" src="./producto4.webp" alt="producto4"/>
    </swiper-slide>
    <swiper-slide>
      <img loading="lazy" src="./producto8.webp" alt="producto8"/>
    </swiper-slide>
    <swiper-slide>
      <img loading="lazy" src="./producto7.webp" alt="producto7"/>
    </swiper-slide>
    <swiper-slide>
      <img loading="lazy" src="./producto11.webp" alt="producto11"/>
    </swiper-slide>
    <swiper-slide>
      <img loading="lazy" src="./producto12.webp" alt="producto12"/>
    </swiper-slide>
  </swiper-container>
</main>

<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-element-bundle.min.js"></script>

<style>
  swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    
  }

  swiper-slide img {
    display: sw swiper-slidek;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
  }

  swiper-slide {
    background-size: cover;
    background-position: center;
  }

  .mySwiper {
    --swiper-navigation-size: 30px;
    view-timeline-name: --titulo;
    view-timeline-axis: block;

    animation-timeline: --titulo;
    animation-name: show;
    animation-range: entry 20% cover 40%;
    animation-fill-mode: both;
  }

  @keyframes show {
    from {
      scale: 1.1;
      opacity: 0;
      transform: translateY(-30%);
    }

    to {
      scale: 1;
      opacity: 1;
      transform: translateY(0%);
    }
  }

  .mySwiper2 {
    box-sizing: border-box;
    padding: 2rem 0px;
    cursor: pointer;
  }


  .mySwiper2 swiper-slide {

    opacity: 0.4;
    filter: blur(1px) grayscale(1);
    border: 2px solid #000;
  }

  .mySwiper2 .swiper-slide-thumb-active {
    opacity: 0.9;
    filter: blur(0px) grayscale(0);
    border: 2px solid #fff;
  }

  swiper-slide img {
    display: sw swiper-slidek;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
</style>

<!--Estilos scroll-->

<style>



  #titulo-productos {
    view-timeline-name: --titulo;
    view-timeline-axis: block;

    animation-timeline: --titulo;
    animation-name: fade;
    animation-range: entry 15% cover 70%;
    animation-fill-mode: both;
  }

  @keyframes fade {
    from {
      opacity: 0;
      transform: translateY(-30%);
    }

    to {
      opacity: 1;
      transform: translateY(0%);
    }
  }

  #titulo-proyectos {
    view-timeline-name: --titulo2;
    view-timeline-axis: block;

    animation-timeline: --titulo2;
    animation-name: fade-in;
    animation-range: entry 15% cover 70%;
    animation-fill-mode: both;
  }

  @keyframes fade-in {
    from {
      opacity: 0;
      transform: translateY(80%);
    }

    to {
      opacity: 1;
      transform: translateY(0%);
    }
  }

  #titulo-productos::selection {
    -webkit-text-stroke: 1px #000;
    background-color: #000;
    color: #b47844bc;
  }
  #titulo-proyectos::selection {
    background-color: #b47844bc;
    color: #000;
  }
</style>
